body{
    background-image: url(home2.jpg); 
    background-size: cover;
    
}
p{
    color: white;
    font-style: bold;
    font-size: 25px;
    text-align: center;
    
}
img { 
    margin: auto 50%;
 transform: translatex(-50%);

}
h1 {
    color: white;
    font-style: bold;
    text-align: center;

}
h2 {
    color: white;
    font-style: bold;
    text-align: center;


}